# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/

.idea/encodings.xml
.idea/gameFirstRock.iml
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint/
.idea/workspace.xml


.sass-cache/

node_modules/.bin/
node_modules/@babel/
node_modules/@mrmlnc/
node_modules/@nodelib/fs.stat/README.md
node_modules/@nodelib/fs.stat/package.json
node_modules/@types/
node_modules/ajv/
node_modules/ansi-regex/
node_modules/ansi-styles/
node_modules/argparse/
node_modules/arr-diff/
node_modules/arr-flatten/
node_modules/arr-union/
node_modules/array-find-index/
node_modules/array-union/
node_modules/array-uniq/
node_modules/array-unique/
node_modules/arrify/
node_modules/assign-symbols/
node_modules/astral-regex/
node_modules/atob/
node_modules/autoprefixer/
node_modules/bail/
node_modules/balanced-match/
node_modules/base/
node_modules/brace-expansion/
node_modules/braces/
node_modules/browserslist/
node_modules/cache-base/
node_modules/call-me-maybe/
node_modules/caller-callsite/
node_modules/caller-path/
node_modules/callsites/
node_modules/camelcase-keys/
node_modules/camelcase/
node_modules/caniuse-lite/
node_modules/ccount/
node_modules/chalk/
node_modules/character-entities-html4/
node_modules/character-entities-legacy/
node_modules/character-entities/
node_modules/character-reference-invalid/
node_modules/class-utils/
node_modules/clone-regexp/
node_modules/collapse-white-space/
node_modules/collection-visit/
node_modules/color-convert/
node_modules/color-name/
node_modules/component-emitter/
node_modules/concat-map/
node_modules/convert-source-map/
node_modules/copy-descriptor/
node_modules/cosmiconfig/
node_modules/currently-unhandled/
node_modules/debug/
node_modules/decamelize-keys/
node_modules/decamelize/
node_modules/decode-uri-component/
node_modules/define-property/
node_modules/dir-glob/
node_modules/dom-serializer/
node_modules/domelementtype/
node_modules/domhandler/
node_modules/domutils/
node_modules/dot-prop/
node_modules/electron-to-chromium/
node_modules/emoji-regex/
node_modules/entities/
node_modules/error-ex/
node_modules/escape-string-regexp/
node_modules/esprima/
node_modules/esutils/
node_modules/execall/
node_modules/expand-brackets/
node_modules/extend-shallow/
node_modules/extend/
node_modules/extglob/
node_modules/fast-deep-equal/
node_modules/fast-glob/LICENSE
node_modules/fast-glob/README.md
node_modules/fast-glob/index.d.ts
node_modules/fast-glob/index.js
node_modules/fast-glob/package.json
node_modules/fast-json-stable-stringify/
node_modules/file-entry-cache/
node_modules/fill-range/
node_modules/find-up/
node_modules/flat-cache/
node_modules/flatted/
node_modules/for-in/
node_modules/fragment-cache/
node_modules/fs.realpath/
node_modules/get-stdin/
node_modules/get-value/
node_modules/glob-parent/
node_modules/glob-to-regexp/
node_modules/glob/
node_modules/global-modules/
node_modules/global-prefix/
node_modules/globals/
node_modules/globby/
node_modules/globjoin/
node
_modules/gonzales-pe/
node_modules/graceful-fs/
node_modules/has-flag/
node_modules/has-value/
node_modules/has-values/
node_modules/hosted-git-info/
node_modules/html-tags/
node_modules/htmlparser2/
node_modules/ignore/
node_modules/import-fresh/
node_modules/import-lazy/
node_modules/imurmurhash/
node_modules/indent-string/
node_modules/indexes-of/
node_modules/inflight/
node_modules/inherits/
node_modules/ini/
node_modules/is-accessor-descriptor/
node_modules/is-alphabetical/
node_modules/is-alphanumeric/
node_modules/is-alphanumerical/
node_modules/is-arrayish/
node_modules/is-buffer/
node_modules/is-data-descriptor/
node_modules/is-decimal/
node_modules/is-descriptor/
node_modules/is-directory/
node_modules/is-extendable/
node_modules/is-extglob/
node_modules/is-fullwidth-code-point/
node_modules/is-glob/
node_modules/is-hexadecimal/
node_modules/is-number/
node_modules/is-obj/
node_modules/is-plain-obj/
node_modules/is-plain-object/
node_modules/is-regexp/
node_modules/is-supported-regexp-flag/
node_modules/is-whitespace-character/
node_modules/is-windows/
node_modules/is-word-character/
node_modules/isarray/
node_modules/isexe/
node_modules/isobject/
node_modules/js-tokens/
node_modules/js-yaml/
node_modules/jsesc/
node_modules/json-parse-better-errors/
node_modules/json-schema-traverse/
node_modules/json5/
node_modules/kind-of/
node_modules/known-css-properties/
node_modules/leven/
node_modules/load-json-file/
node_modules/locate-path/
node_modules/lodash/
node_modules/log-symbols/
node_modules/longest-streak/
node_modules/loud-rejection/
node_modules/map-cache/
node_modules/map-obj/
node_modules/map-visit/
node_modules/markdown-escapes/
node_modules/markdown-table/
node_modules/mathml-tag-names/
node_modules/mdast-util-compact/
node_modules/meow/
node_modules/merge2/
node_modules/micromatch/
node_modules/minimatch/
node_modules/minimist-options/
node_modules/minimist/
node_modules/mixin-deep/
node_modules/mkdirp/
node_modules/ms/
node_modules/nanomatch/
node_modules/node-releases/LICENSE
node_modules/node-releases/README.md
node_modules/node-releases/data/
node_modules/node-releases/package.json
node_modules/normalize-package-data/
node_modules/normalize-range/
node_modules/normalize-selector/
node_modules/num2fraction/
node_modules/object-copy/
node_modules/object-visit/
node_modules/object.pick/
node_modules/once/
node_modules/p-limit/
node_modules/p-locate/
node_modules/p-try/
node_modules/parse-entities/
node_modules/parse-json/
node_modules/pascalcase/
node_modules/path-dirname/
node_modules/path-exists/
node_modules/path-is-absolute/
node_modules/path-parse/
node_modules/path-type/
node_modules/pify/
node_modules/posix-character-classes/
node_modules/postcss-html/
node_modules/postcss-jsx/
nod
e_modules/postcss-less/
node_modules/postcss-markdown/
node_modules/postcss-media-query-parser/
node_modules/postcss-reporter/
node_modules/postcss-resolve-nested-selector/
node_modules/postcss-safe-parser/
node_modules/postcss-sass/
node_modules/postcss-scss/
node_modules/postcss-selector-parser/
node_modules/postcss-syntax/
node_modules/postcss-value-parser/
node_modules/postcss/
node_modules/punycode/
node_modules/quick-lru/
node_modules/read-pkg-up/
node_modules/read-pkg/
node_modules/readable-stream/
node_modules/redent/
node_modules/regex-not/
node_modules/remark-parse/
node_modules/remark-stringify/
node_modules/remark/
node_modules/repeat-element/
node_modules/repeat-string/
node_modules/replace-ext/
node_modules/resolve-from/
node_modules/resolve-url/
node_modules/resolve/
node_modules/ret/
node_modules/rimraf/
node_modules/safe-buffer/
node_modules/safe-regex/
node_modules/semver/
node_modules/set-value/
node_modules/signal-exit/
node_modules/slash/
node_modules/slice-ansi/
node_modules/snapdragon-node/
node_modules/snapdragon-util/
node_modules/snapdragon/
node_modules/source-map-resolve/
node_modules/source-map-url/
node_modules/source-map/
node_modules/spdx-correct/
node_modules/spdx-exceptions/
node_modules/spdx-expression-parse/
node_modules/spdx-license-ids/
node_modules/specificity/
node_modules/split-string/
node_modules/sprintf-js/
node_modules/state-toggle/
node_modules/static-extend/
node_modules/string-width/
node_modules/string_decoder/
node_modules/stringify-entities/
node_modules/strip-ansi/
node_modules/strip-bom/
node_modules/strip-indent/
node_modules/style-search/
node_modules/stylelint/
node_modules/sugarss/
node_modules/supports-color/
node_modules/svg-tags/
node_modules/table/
node_modules/to-fast-properties/
node_modules/to-object-path/
node_modules/to-regex-range/
node_modules/to-regex/
node_modules/trim-newlines/
node_modules/trim-right/
node_modules/trim-trailing-lines/
node_modules/trim/
node_modules/trough/
node_modules/unherit/
node_modules/unified/
node_modules/union-value/
node_modules/uniq/
node_modules/unist-util-find-all-after/
node_modules/unist-util-is/
node_modules/unist-util-remove-position/
node_modules/unist-util-stringify-position/
node_modules/unist-util-visit-parents/
node_modules/unist-util-visit/
node_modules/unset-value/
node_modules/uri-js/
node_modules/urix/
node_modules/use/
node_modules/util-deprecate/
node_modules/validate-npm-package-license/
node_modules/vfile-location/
node_modules/vfile-message/
node_modules/vfile/
node_modules/which/
node_modules/wrappy/
node_modules/write/
node_modules/x-is-string/
node_modules/xtend/
node_modules/yargs-parser/
package-lock.json
package.json
"node_modules/" 
