# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/

.idea/encodings.xml
.idea/gameFirstRock.iml
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint/
.idea/workspace.xml

